<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
  <div class="header container">我是首页</div>

  <div class="content container">
    <div>
      <p>hello, plase sign in</p>
      <button>个人中心</button>
    </div>
    <div class="banner">轮播图</div>
  </div>

  <div class="footer container">页面底部</div>
</body>

</html>