<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/login.css">

</head>

<body>
  <div class="header container">我是登录页</div>

  <div class="content container">
    <form action="">
      <label>
        邮箱：<input type="text">
      </label>
      <label>
        密码：<input type="text">
      </label>
      <label>
        验证码：<input type="text">
        <button>发送验证码</button>
      </label>
      <button>提交</button>
    </form>
  </div>

  <div class="footer container">页面底部</div>
</body>

</html>