<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="header container">我是修改密码</div>

  <div class="content container">
    <form action="">
      <label>
        原始密码：<input type="text">
      </label>
      <label>
        新密码：<input type="text">
      </label>
      <label>
        重复新密码：<input type="text">
      </label>
      <button>确认修改</button>
    </form>
  </div>

  <div class="footer container">页面底部</div>
</body>

</html>